.search-section {
    width: 500px;
    margin: auto;
}

.search-box input {
    width: 200px;
}

.filter-box input {
    width: 200px;
}

.checkbox-container input {
    width: 40px;
    display: inline;
    margin-top: 30px;
    padding: 0;
    height: 20px
}

.search-filter-cont {
    display: flex;
}
.checkbox-container label {
    /* color: red; */
}
