.search-section {
    width: 500px;
    margin: auto;
}

.search-box input, .filter-box input {
    width: 200px;
    border-right: none;
}
.search-btn {
    width: 100px;
    height: 44px;
    border: none;
    border-radius: 0;
    margin-left: -2px;
    background-color: #4a90e2;

}
.filter-box input {
    margin-left: -10px;
}

.search-filter-cont {
    display: flex;
}

